body{ background: #F6F6F6; }
/* .rounding { 
    background-color: #1D82D2;
    -webkit-border-bottom-right-radius: 40px 10px;
    -webkit-border-bottom-left-radius: 40px 10px ;
    border-bottom-left-radius: 40px 10px ;
    border-bottom-right-radius: 40px 10px ;
    height: 100px;
  } */
.rounding { 
    background-color: #1D82D2;
    -webkit-border-bottom-right-radius: 300px 20px;
    -webkit-border-bottom-left-radius: 300px 20px;
    border-bottom-left-radius: 300px 20px;
    border-bottom-right-radius: 300px 20px;
    height: 100px;
}

.input-group-prepend{ position: absolute; }
.search-input{ text-align: center; }