.cardtypeCheckbox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #dcdfe3;
    border-radius: 0.25rem;
    padding: 10px;
}

.cardtypeCheckbox input { position: absolute; opacity: 0; cursor: pointer; }

.cardtypeCheckbox input:checked ~ .radiobtn { background-color: #2196F3; }

.cardtypeCheckbox .radiobtn {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.cardtypeCheckbox .radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;

    content: "";
    position: absolute;
    display: none;
}

.cardtypeCheckbox{ font-weight: normal; }
.cardtypeCheckbox div{ padding-left: 35px; }

.cardtypeCheckbox input:checked ~ .radiobtn:after { display: block; }

.rounding { 
    background-color: #1D82D2;
    -webkit-border-bottom-right-radius: 300px 20px;
    -webkit-border-bottom-left-radius: 300px 20px;
    border-bottom-left-radius: 300px 20px;
    border-bottom-right-radius: 300px 20px;
    height: 100px;
}

